<mat-card>
    <div class="bootstrap-wrapper">
        <div class="container-fluid text-center">
            <hr>
    <table>
        <tr>
            <td><h2>Name</h2></td>
            <td><h2>{{user.name}}</h2></td>
        </tr>
        <tr>
            <td><h2>Email</h2></td>
            <td><h2>{{user.email}}</h2></td>
        </tr>
        <tr>
            <td><h2>Username</h2></td>
            <td><h2>{{user.username}}</h2></td>
        </tr>
        <tr>
            <td><h2>Role</h2></td>
            <td><h2>{{user.role}}</h2></td>
        </tr>
        <tr>
            <td><h2>Adress</h2></td>
            <td><h2>{{user.address}}</h2></td>
        </tr>
    </table>
    <hr>
    </div></div>
</mat-card>
