

<mat-toolbar color="accent"> 
  <span><img style="margin-right: 14px;" src="../assets/images/1.png" alt=""><img src="../assets/images/2.png" alt=""></span>
  <span class="example-spacer"></span>
  <a *ngIf="!isLoggedIn" mat-icon-button [routerLink]="['/']" routerLinkActive="router-link-active"  class="example-icon favorite-icon mr-3" aria-label="Example icon-button with heart icon">
    <span>Register</span>
  </a>
  <a *ngIf="!isLoggedIn" mat-icon-button [routerLink]="['/login']" class="example-icon" aria-label="Example icon-button with share icon">
    <span>Login</span>
  </a>
  <a *ngIf="isLoggedIn" mat-icon-button (click)="logout()" class="example-icon mr-3" aria-label="Example icon-button with share icon">
    <span>Log out</span>
  </a>
  <button *ngIf="isLoggedIn && user && user.role=='admin'" routerLink="/admin" mat-icon-button class="example-icon mr-3 " aria-label="Example icon-button with share icon">
    <span>{{user.name}}</span>
  </button>
  <button *ngIf="isLoggedIn && user && user.role=='user'" routerLink="/user" mat-icon-button class="example-icon mr-3" aria-label="Example icon-button with share icon">
    <span>{{user.name}}</span>
  </button>
 

</mat-toolbar>
<router-outlet></router-outlet>


 
