.mr-3{
    margin-right: 30px;
}

.text-center{
    text-align: center;
}
.example-spacer {
    flex: 1 1 auto;
  }

  mat-drawer-container{
      height:100%;
    
  }
  mat-drawer,mat-drawer-content{
      padding:16px;
  }

  mat-drawer{
      background-color: lightcoral;
      color:white;
  }
  mat-toolbar img{
      
    height: 25px;
    margin-top: 10px;
  }
